@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Merriweather:wght@300&family=Zen+Maru+Gothic:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    padding: 0;    
}

header, footer {
    background-color: #008F81;
    color: white;
}

header, footer, main {
    max-width: 36rem; /* Base font size is 16px * 36 = 576 */
    margin: 0 auto; /* center from left to right */
    padding: 2rem;
    border: none;
}

header {
    margin-top: .5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px #595a55;
}

#profile-pic {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #595a55;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

main {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
}

.list li{
    padding: .3em 0;
}

footer {
    display: block;
    text-align: center;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    box-shadow: 5px 5px 10px #595a55;
    margin-bottom: 1em;
}