@media screen and (min-width: 1001px) {

    body {
        font-size: 1.125rem;
    }

    .header-phone a {
        font-size: 1.125rem;
    }

    .logo {
        margin-left: 2vw;
    }

    .logo img {
        max-width: 100%;
    }

    .navigation {
        display: flex;
        flex: 1 1 content;
        padding: 0;
        justify-content: flex-end;
    }

    .navigation a {
        color: #F8F8F8;
    }

    .navigation .active {
        text-decoration: overline .2rem;
        text-decoration-color: #000000;
    }

    .navigation li{
        display: contents;
    }

    /* .header-phone {
        display: block;
    } */

    .header-button {
        font-size: 1rem;
        padding: 1rem 1.5rem;
        margin-bottom: .5rem;
        border: none;
    }
    
    .ham {
        display: none;
    }

    /* Main */

    .hero-title {
        font-size: 5rem;
    }

    .hero-button {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
}