* {
    font-family: 'Titillium Web', sans-serif;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    background-color: #008F81;
    border-radius: 10px;
    color: #f8f8f8;
    padding: 1.5em;
    /* position: fixed;
    top: 0;
    overflow: hidden; */
}

.topnav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color:#0D3B66;
    align-items: center;
    padding: 12px;
}

.topnav li {
    flex: 1 1 auto;
}

.topnav a {
    display: block;
    padding: 0.8rem 1rem;
    margin: 12px 0;
    text-decoration: none;
    color: #f8f8f8;
} 

.topnav a:hover {
    background-color: #CBBA00;
    color: #f8f8f8;
}

.topnav a:active {
    color: #f8f8f8;
}

h1 {
    margin-bottom: 0.69em;
    color: #CBBA00;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    width: 95%;
    margin: 20px auto;
}

article {
    border-radius: 10px;
    background-color: #f8f8f8;
    border: solid 2px #0D3B66;
    overflow: hidden;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 20px;
}

section {
    font-family: 'Zen Maru Gothic', sans-serif;
}

h3 {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
    padding: 1.2em;
    background: #016158;
    color: #f8f8f8;
}

article > div {
    padding: 0 1em;
}

h4 {
    font-size: 1.2em;
}

.links {
    margin-bottom: 26px;
}

img {
    max-width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 32px;
    justify-content: center;
}

p {
    font-family: 'Zen Maru Gothic', sans-serif;
}

footer {
    text-align: center;
    background-color: #0D3B66;
    color: #CBBA00;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 1.2em;
}

#myname {
    color: #f8f8f8;
}

@media screen and (min-width: 48rem) {
    .topnav ul {
        flex-direction:row;
        justify-content: space-around;
    }

    .flex-main {
        flex-direction: row;
    }
}
