* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #f8f8f8;
    /* margin-top: 60px;
    padding: 0;   */
}

header {
    text-align: center;
    background-color: #008F81;
    border-radius: 10px;
    color: #f8f8f8;
    padding: 1.5rem 0 0;
    /* position: fixed;
    top: 0;
    overflow: hidden; */
}

nav {
    font-size: 1.1rem;
    padding: 0;
}

.topnav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color:#0D3B66;
    align-items: center;
    padding: 12px;
}

.topnav li {
    flex: 1 1 auto;
}

.topnav li:first-child {
    flex: 2 1 auto;
    align-content: center;
}

.topnav a {
    display: block;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: #f8f8f8;
} 

.topnav a:hover {
    background-color: #CBBA00;
    color: #f8f8f8;
    border-radius: 15px;
}

.topnav a:active {
    color: #f8f8f8;
}

.active {
    background-color: #008F81;
    border-radius: 15px;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

h1 {
    font-size: 3.3rem;
    margin-bottom: 0.69em;
    color: #f8f8f8;
    justify-content: center;
    align-self: center;
}

.flex-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

section {
    background-color: #f8f8f8;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 20px;
    overflow: hidden;
}

.logo {
    max-width: 30%;
    padding-top: 1rem;
    margin: auto;
    margin-bottom: 32px;
    justify-content: center;
}


.faces {
    max-width: 30%;
    padding-top: 1rem;
    margin: auto;
    margin-bottom: 32px;
    justify-content: center;
}

h2 {
    font-size: 2rem;
    padding: 1.2rem;
}

h3 {
    max-width: 30%;
    border-radius: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    margin: .2rem;
    background: #016158;
    color: #f8f8f8;
}

h4 {
    font-size: 1.1rem;
    padding: 1rem;
}

main ul {
    font-size: 1.1rem;
    padding: .3rem 1rem .3rem;
    margin: 1rem 1rem 1rem 2rem;
}

.links {
    margin-bottom: 26px;
}

img {
    max-width: 80%;
    padding: 0;
    margin: auto;
    margin-bottom: 32px;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Zen Maru Gothic', sans-serif;
    padding: 1rem;
    font-weight: bold;
}

.flex-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: #0D3B66;
    color: #CBBA00;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 1.2rem;
}

#myname {
    color: #f8f8f8;
}

@media screen and (min-width: 48rem) {
    .topnav ul {
        flex-direction:row;
        justify-content: space-around;
    }

    .flex-main {
        flex-direction: row;
    }
}
