* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #f8f8f8;
}

/* 'Zen Maru Gothic', sans-serif; for parragraphs*/
h1 {
    font-family: 'Zen Maru Gothic', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Web', sans-serif;
}

header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: #f8f8f8;
    background-color: #008F81;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom-left-radius: 35px;
}

.logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/4;
    align-items: center;
    margin-left: .5rem;
    padding: 1.2rem 0; 
}

.logo img {
    max-width: 100px;
    width: 15vw;
    height: auto;
}

.logo-pic {
    grid-column: 1/2;
}

.headings {
    grid-column: 2/5;
    align-items: center;
    justify-items: center;
    margin-left: .5rem;
    color: #f8f8f8;
    text-align: left;
    text-decoration: none;
}

.header-title {
    align-self: flex-start;
    font-size: clamp(1.8rem, 3.3vw, 2.5rem);
    margin: 0;
}

.header-subtitle {
    align-self: flex-start;
    font-size: clamp(.8rem, 1.8vw, 1.2rem);
    margin: 0;
}

.ham {
    grid-column: 5/6;
    justify-self: center;
}

.ham .responsive {
    grid-column: 5/6;
    justify-self: center;
}

nav {
    grid-column: 4/6;
    margin: 0 auto;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.2rem;
    justify-content: flex-start;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 1rem 2rem;
    text-align: left;
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    transition: 0.5s;
}

.navigation .active {
    text-decoration: overline .2rem;
    text-decoration-color: #CBBA00;
}

.responsive li {
    display: block;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.responsive .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.responsive .bar2 {
    opacity: 0;
}

.responsive .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation a:hover {
    color: #f8f8f8;
    background-color: #0D3B66;
}

.socials {
    grid-column: 4/5;
    grid-row: 2/3;
}

.socials-small {
    grid-row: 2/3;
}

.social-icon {
    margin: .5rem;
    width: 4.8vh;
    height: 4.8vh;
}

.date {
    width: 100%;
    grid-column: 1/6;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
    background: linear-gradient(to right , #e86c33  0%, #e86c33 30%, #0178b3 30%, #0178b3 70%, #77ab2a 70%, #77ab2a 100%);
    color: #f8f8f8;
    justify-content: center;
    padding: .8rem 0;
}

.banner {
    width: 100%;
    grid-column: 1/6;
    flex: 1 1 auto;
    color: #f8f8f8;
    background-color: #0D3B66;
    justify-content: center;
    font-size: .8rem;
    padding: 1.2rem 0;
    border-bottom-left-radius: 35px;
}

.banner-text {
    animation: marquee 15s linear infinite;
}

.grid-main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
    color: #CBBA00;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
}

.grid-main div {
    min-width: 100%;
    color: #f8f8f8;
    background-color: #0D3B66;
    padding: 1rem .5rem;
    border: 1px solid black;
}

.hero-main {
    position: relative;
    display: flex;
    padding: 0;
    width: auto;
    height: auto;
    /* max-height: 500px;
    max-width: 700px; */
}

.hero-image {
    width: 100%;
    height: auto;
    flex: 1 1 auto;
}

.hero-title {
    position: absolute;
    margin: 0px;
    left: .5em;
    top: .75em;
    color: #f8f8f8;
    text-shadow: 0 0 20px black;
    font-size: 3rem;
}

.hero-button {
    position: absolute;
    flex: 1 1 auto;
    bottom: 1.5rem;
    right: 2.5rem;
    padding: .5em 1em;
    margin: auto;
    min-width: 200px;
    color: #f8f8f8;
    background-color: #CBBA00;
    font-weight: bold;
    border: 2px solid #0D3B66;
    border-radius: 15px;
}

.weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    justify-self: center;
    align-items: center;
}

.weather-title {
    grid-column: 1/3;
}

.weather-image {
    justify-self: center;
}

.weather-sky {
    grid-column: 1/3;
    font-size: 1.4rem;
    padding: .5rem;
    text-transform: capitalize;
}

.weather-div {
    grid-column: 1/3;
}

.join {
    display: none;
}

.spotlight-1 {
    box-shadow: 0px 0px 20px #0D3B66;
}

.spotlights div img {
    width: 50%;
    height: auto;
}

.spotlight-image {
    background-color: #f8f8f8a8;
    border-radius: 10px;
    margin: .2rem;
    padding: .2rem;
    max-width: 50px;
}

.spotlight-3 {
    display: none;
}

.spotlight-div {
    margin: .5rem;
}

.spotlight-info {
    font-size: 1rem;
    padding: .2rem;
}

a.spotlight-info:link,
a.spotlight-info:visited {
    color: #008F81;
    text-decoration: none;
}

a.spotlight-info:hover {
    text-decoration: underline;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: #0D3B66;
    color: #CBBA00;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 1rem;
}

footer img {
    width: 80px;
    height: auto;
}

footer a {
    color: #f8f8f8
}

#myname {
    color: #f8f8f8;
}

/* For the Discover */

.discover-title {
    text-align: center;
    color: #f8f8f8;
    background-color: #0D3B66;
    justify-items: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem 0;
    grid-column: 1/4;
}

/* For the Join */

.grid-join {
    display: flex;
    flex-direction: column;
}

.join-title {
    text-align: center;
    color: #f8f8f8;
    background-color: #0D3B66;
    justify-items: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem 0;
}

fieldset:first-child {
    margin-bottom: 1rem;
}

fieldset:nth-child(2) {
    margin-top: 1rem;
}

fieldset:nth-child(3) {
    margin-top: 1rem;
}

label {
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    font-weight: bold;
    color: #0D3B66;
}

legend {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #CBBA00;
}

form label,
form input {
    display: block;
    width: 100%;
}

form {
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
}

form input {
    margin-top: 2px;
    margin-bottom: 1em;
    /* size for small view */
    padding: .75rem;
}

label input {
    display: inline;
    width: auto;
    margin: 0;
}

form label.required::after {
    content: " *";
    color: red;
}

form input:required:invalid {
    background-color: rgba(255, 0, 0, 0.111);
}

form input:required:valid {
    background-color: rgba(0, 128, 0, 0.011);
}

.businessDescription {
    margin-top: 10px;
    margin-bottom: 5px;
}

.membershipLabel {
    margin-bottom: 5px;
}

.radioMember {
    margin: 5px 0;
    text-align: center;
}

.required {
    content: " *";
}

.joinSubmitBtn {
    font-weight: bold;
    background-color: #008F81;
    margin-top: 16px;
}

.membershipDescription {
    border: 2px solid #484041;
    width: 320px;
    margin: 10px auto;
    padding: 1em;
    border-radius: 10px;
}

.membershipHeader {
    text-align: center;
}

.membershipSub {
    text-align: center;
}

.thanksHeading {
    text-align: center;
}

.thanksSection {
    text-align: center;
    /* border: 2px solid #484041; */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    margin-bottom: 100px;
}

/* For the pricing table */

.columns {
    float: left;
    width: 25%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #0D3B66;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
}

.price li {
    border-bottom: 1px solid black;
    padding: 20px;
    text-align: center;
    min-height: 5rem;
}

li label {
    text-align: center;
}

.price .grey {
    background-color: #008F81;
    font-size: 20px;
}

.bronze {
    background-color: #6A3805;
    color: white;
    font-size: 25px;
}

.silver {
    background-color: #B4B4B4;
    color: white;
    font-size: 25px;
}

.gold {
    background-color: #C9B037;
    color: white;
    font-size: 25px;
}

.np {
    background-color: #0D3B66;
    color: white;
    font-size: 25px;
}

/* For the Directory*/

.grid-directory {
    text-align: center;
    color: black;
}

.cards section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: flex-start;
    margin: 10px;
}

.lists section{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 10px;
}

.lists section img {
    display: none;
}

.directory-title {
    color: #f8f8f8;
    background-color: #0D3B66;
    justify-items: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem 0;
}

.businessData {
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
}

.businessData p {
    padding: .5rem;
    overflow-wrap: break-word;
}

.display-buttons {
    padding: 1rem;
    margin: 1rem;
    justify-items: center;
    align-items: center;
    
}

.display-buttons button {
    margin: 1rem;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.display-buttons button:hover {
    background-color: #008F81;
}

#list-button {
    width: 70%;
    height: auto;
    padding: .67rem .25rem;
}

#grid-button {
    width: 70%;
    height: auto;
    padding: .67rem .25rem;
}

.businessImg {
    width: 15rem;
    height: auto;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .navigation .responsive {
        display: flex;
    }

    .navigation .responsive li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation .responsive a {
        text-align: center;
    }

    .my-info {
        display: flex;
        flex-direction: column;
    }
}