@media screen and (min-width: 900px) {

    body {
        font-size: 1.125rem;
    }

    header {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .date {
        grid-column: 1/7;
        justify-self: center;
    }

    .ham {
        display: none;
    }

    .logo {
        grid-column: 1/3;
        padding: 1.2rem 0;
    }

    nav {
        grid-column: 3/6;
        width: fit-content;
        padding: 1.2rem 0;
        justify-content: end;
    }

    .navigation {
        display: flex;
        flex: 1 1 content;
        list-style: none;
        padding: 0;
        justify-content: flex-end;
    }

    .navigation li{
        display: contents;
    }

    .socials {
        grid-column: 6/7;
    }

    .banner {
        grid-column: 1/7;
        justify-self: center;
        font-size: 1rem;
        padding: 1.2rem 0;
    }

    main {
        max-width: 1400px;
        background-color: #f8f8f8;
        color: black;
        margin: auto;
    }

    .grid-main {
        grid-template-columns: 1fr 3fr 1fr;
    }
    
    .hero-main {
        grid-column: 2/3;
        grid-row: 1/3;
        order: 2;
    }

    .hero-image {
        width: 100%;
        height: 100%;
    }

    .news {
        grid-column: 2/3;
        order: 6;
        height: 100%;
    }
    
    .join {
        display: block;
        grid-column: 1/2;
        order: 5;
        height: 100%;
    }
    
    .event {
        grid-column: 1/2;
        order: 1;
        height: 100%;
    }
    .weather {
        grid-column: 1/2;
        order: 4;
        height: 100%;
    }

    .spotlight {
        grid-column: 3/4;
        grid-row: 1/4;
        display: grid;
        grid-template-columns: 1fr;
        order: 3;
    }
    .spotlight-1{
        grid-column: 1/2;
        margin-bottom: .5rem;
        color: black;
        background-color: #f8f8f8;
    }
    .spotlight-2{
        grid-column: 1/2;
        margin-bottom: .5rem;
        color: black;
        background-color: #f8f8f8;
    }
    .spotlight-3{
        display: block;
        color: black;
        background-color: #f8f8f8;
    }
    

    main img {
        min-width: 0;
        min-height: 0;
        max-width: 100%;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        background-color: #0D3B66;
        color: #CBBA00;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 10px 10px 0 0;
        padding: 1rem;
    }

    footer img {
        width: 80px;
        height: auto;
    }

    footer a {
        color:#f8f8f8
    }

    #myname {
        color: #f8f8f8;
    }

    /* For the Join page */

    form {
        max-width: 1000px;
    }

    /* For the Thankyou page */
    .thanks-title, .thanks-text {
        grid-column: 2/3;
    }

    /* For the Directory page */
    .lists .bisnes div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

    .business-name {
        display: none;
    }

    .lists section img {
        display: block;
    }

    .businessData {
        height: 100%;
    }

    .businessImg {
        max-height: 120px;
        max-width:fit-content;
    }
}




/* Larger viewports for the header*/
@media only screen and (min-width: 601px) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
}

.my-info { 
    grid-column: 1/3;
    display: flex; 
}